<ng-container *ngIf="vm$ | async as vm">
    <div class="container" *ngIf="vm.days as days; else loading">
        <div class="day" *ngFor="let day of days">
            <button (click)="openCreateTask(day)">Create a new task</button>
            <app-day-card [day]="day"></app-day-card>
        </div>
    </div>

    <ng-template #loading>
        <h1>Carregando...</h1>
    </ng-template>
</ng-container>

<app-popup *ngIf="creatingTask">
    <ng-container>
        <app-execute-tasks [day]="selectedDay" (newTask)="createTask(selectedDay, $event)" (cancel)="closeCreateTask()"></app-execute-tasks>
    </ng-container>
</app-popup>
